## Data Cleaning

### Archive Exploration

a. This data is a capture-recapture study of snowshoe hare data. This data monitors the age the hare was captured, weight, along with other physical attributes. 
b. The timeframe to which this data was collected started in 1999 to 2002. 
c. The metadata does not mention whether or not the data is sensitive. 
d. This dataset is associated with an LTER publication.

Citation:
    Kielland, K., F.S. Chapin, R.W. Ruess, and Bonanza Creek LTER. 2017. Snowshoe hare physical data in Bonanza Creek Experimental Forest: 1999-Present ver 22. Environmental Data Initiative. https://doi.org/10.6073/pasta/03dce4856d79b91557d8e6ce2cbcdc14 (Accessed 2023-10-19).

### 9.2 Adding an image

![snowshoe hare](https://www.eptrail.com/wp-content/uploads/2023/01/TGC-Z-SNOWSHOEHARE-01.jpg?w=1024)

### 9.3 Data Loading

In [5]:
#importing pandas
import pandas as pd


#reading in the data
hares = pd.read_csv('https://portal.edirepository.org/nis/dataviewer?packageid=knb-lter-bnz.55.22&entityid=f01f5d71be949b8c700b6ecd1c42c701')


#looking at the head of the hares dataset 
hares.head()

,date,time,grid,trap,l_ear,r_ear,sex,age,weight,hindft,notes,b_key,session_id,study
0,11/26/1998,NaN,bonrip,1A,414D096A08,NaN,NaN,NaN,1370.0,160.0,NaN,917.0,51,Population
1,11/26/1998,NaN,bonrip,2C,414D320671,NaN,M,NaN,1430.0,NaN,NaN,936.0,51,Population
2,11/26/1998,NaN,bonrip,2D,414D103E3A,NaN,M,NaN,1430.0,NaN,NaN,921.0,51,Population
3,11/26/1998,NaN,bonrip,2E,414D262D43,NaN,NaN,NaN,1490.0,135.0,NaN,931.0,51,Population
4,11/26/1998,NaN,bonrip,3B,414D2B4B58,NaN,NaN,NaN,1710.0,150.0,NaN,933.0,51,Population

### 9.4 Metadata Exploration

Most of these columns are strings, and has 14 columns.

### 9.5 Detecting Messy Values

In [6]:
#getting the number of teams each unique non-NA value in the sex column appears
hares.sex.value_counts()

F     1161
M      730
f      556
m      515
?       40
F?      10
f        4
m        4
f?       3
M?       2
m?       2
pf       1
Name: sex, dtype: int64

In [11]:
hares.sex.value_counts(dropna = False)
# about 352 values with no observation in the sex column

F      1161
M       730
f       556
m       515
NaN     352
?        40
F?       10
f         4
m         4
f?        3
M?        2
m?        2
pf        1
Name: sex, dtype: int64

I noticed that the outputs include a question mark associated with the sex of the hare. This could be because its sex was not confirmed.

The allowed values for the sex column are male, female, and male not confirmed.